@import "color";

/*********tooltip·start************/
.ant-tooltip{
  .ant-tooltip-inner{
    min-height:auto;
    padding: 10px 22px;
    border-radius: 5px;
  }
}


/*********tooltip·end************/


/*********pagination·start************/
.ant-pagination-item a{
  line-height: 30px;
}

/*********pagination·end************/